body {
    background-color: #F0F0F0;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    color: #000000;
}

.navigation_bar {
    text-align: center;
}

.navigation_button {
    background-color: #636363;
    border: none;
    color: white;
    padding: calc(10px + 0.3vw) 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(8px + .8vw);
    margin: 2px 0px;
    cursor: pointer;
    width: 21.25vw;
    max-width: 281px;
}

.description_block {
    text-align: center;
}

.description_wrapper {
    background-color: #BDBDBD;
    display: inline-block;
    text-align: left;
    width: 85%;
    max-width: 1278px;
    padding: 15px 32px;
}

a {
    color: #5397D5;
    text-decoration: none;
}

.game_link {
    display: inline-block;
}

.game_link_image_wrapper:hover {
    filter: drop-shadow(8px 8px 2px grey);
}

.game_snapshot{
    text-align: center;
    width: 23.19vw;
    max-width: 332px;
    height: 23.19vw;
    max-height: 332px;
}

.game_link_title {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: calc(8px + .5vw);
}

.scroll{
    overflow: auto;
    white-space: nowrap;
}

pre{
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    /* white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap; */
    background: #faf8f0;
}

code{
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}