body {
    background-color: #F0F0F0;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    color: #000000;
}

.navigation_bar {
    text-align: center;
}

.navigation_button {
    background-color: #636363;
    border: none;
    color: white;
    padding: 1.3vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 2px 0px;
    cursor: pointer;
    width: 21.25vw;
}

.description_block {
    text-align: center;
}

.description_wrapper {
    background-color: #BDBDBD;
    display: inline-block;
    text-align: left;
    min-width: 80%;
    max-width: 90%;
    padding: 15px 32px;
}

a {
    color: #5397D5;
    text-decoration: none;
}

.game_link {
    display: inline-block;
}

.game_link_image_wrapper:hover {
    filter: drop-shadow(8px 8px 2px grey);
}

.game_snapshot{
    text-align: center;
    width: 23.19vw;
    /* height: 23.19vw; */
}

.game_link_title {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 1.6vw;
}